section.content {
	justify-self: flex-start;
	margin: 1.6rem;
	background: var(--background-transp);
	padding: 3.2rem;
	border-radius: 0.4rem;

	& ul,
	ol {
		padding-left: 2.4rem;
	}

	@media (min-width: 1199px) {
		max-width: 80%;
		padding: 1.6rem;
		// float: right;
		margin: 0;
		border-radius: 0 0 0.4rem 0.4rem;
	}
}
